<header>
<ul id="for-accounts" class="dropdown-content">
  <% if !logged_in? %>
    <li><%= link_to "Sign In", login_path %></li>
  <% end %>
  <% if !logged_in? %>
    <li><%= link_to "Sign Up", new_student_path %></li>
  <% end %>
  <% if logged_in? %>
    <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
  <% end %>
</ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to "Tech University", root_path, class:"brand-logo right" %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to "Courses", root_path %></li>
          <li><%= link_to "Students", students_path %></li>
          <li><a class="dropdown-trigger" href="#!" data-target="for-accounts">Account
          <i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>